<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-3 col-md-2 mt-md-1">
        <h4>Cursos</h4>
      </div>
      <div class="col-5 offset-4 col-md-3 offset-md-7">
        <a class="btn btn-outline-success mb-3 mb-md-0" [routerLink]="['/novo']">Novo Curso</a>
        <a class="btn btn-outline-success ms-2" (click)="onRefresh()">Recarregar</a>
      </div>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-hover" *ngIf="cursos$ | async as cursos; else loadingError">
      <thead>
      <tr>
        <th>#</th>
        <th>Curso</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let curso of cursos">
        <td>{{ curso.id }}</td>
        <td>{{ curso.nome }}</td>
        <td>
          <div class="d-grid gap-2 d-md-block float-end">
            <div class="">
              <button class="btn btn-outline-warning me-2" type="button">Atualizar</button>
              <button class="btn btn-outline-danger" type="button">Remover</button>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <ng-template #loadingError>
      <div *ngIf="error$ | async; else loading">Erro ao carregar cursos, tente novamente mais tarde</div>

      <ng-template #loading>
        <div class="spinner-border text-warning" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <span>Carregando cursos...</span>
      </ng-template>
    </ng-template>
  </div>
</div>
