<form [formGroup]="form">
  <div class="col-md-3 mb-3">
    <label for="nome" class="form-label">Nome do Curso</label>
    <input type="text" class="form-control" id="nome" aria-describedby="nomeHelp" required
           [formControlName]="'nome'" [ngClass]="aplicaCSSErro('nome')">
    <div id="nomeHelp" class="invalid-feedback">
      {{ msgErrorNome() }}
    </div>
  </div>
  <button class="btn btn-primary" (click)="onSubmit()">Salvar</button>
  <button class="btn btn-primary ms-1" (click)="onCancel()">Cancelar</button>
</form>
